.modal-container {
	display: none;
	position: fixed;
	background-color: rgba(80, 196, 71, 0.9);
	width: 100vw;
	height: 100vh;
	margin-top: 10px;
	margin-left: 10px;
}
.modal-box {
	background-color: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 80%;
}
button {
	background-color: blue;
	color: white;
	padding: 10px;
	margin: 5px;
	border: 2px dashed red;
}
input {
	background-color: rgb(137, 133, 133);
}
label {
	background-color: aqua;
	color: white;
}
#contacts {
	display: flex;
	flex-direction: row;
}
